.parent {
  width: 800px;
  background: #152850;
  margin: 100px auto;
  height: 325px;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 10px;
}

.parent::-webkit-scrollbar {
  display: none;
}

.totalComments {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.comments {
  margin-top: 20px;
}
